<div>

  <h1>{{ title }}</h1>

  <p>Wechaty is in Alpha stage.</p>
  <p>Use your WECHATY_TOKEN as Username.</p>

  <form
    #loginForm="ngForm"
    (ngSubmit)="login(loginForm)"
  >
    <label for="username">Username or Email:</label>
    <input type="text"
      name="username"
      ngModel
      required
    />

    <label for="password">Password:</label>
    <input type="password"
      name="password"
      ngModel
      required
    />

    <span for="remember">Remember Me: </span>
    <input type="checkbox"
      name="remember"
      ngModel
    >

    &nbsp;<a href="/login/forgot">Forgot your password?</a>

    <button
      type="submit"
      [disabled]="!loginForm.valid"
    >
      Sign In
    </button>

  </form>

</div>
