<h1>{{ title }}</h1>
<nav>
  <span>
    <a [routerLink]="['/bot/1']" routerLinkActive="active">My Bot</a>
    <!-- a [routerLink]="['/message']" routerLinkActive="active">My Bots</a -->
    <a [routerLink]="['/about']" routerLinkActive="active">About</a>
  </span>
  <span align="end">
    <a *ngIf="!authService.authed()" [routerLink]="['/login']" routerLinkActive="active">Login</a>
    <a *ngIf="authService.authed()" (click)="logout()">Logout</a>
  </span>

</nav>

<router-outlet></router-outlet>
